<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shandiz.menu" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Shandiz-Menu</name>
    <description>
        Restaurant Menu
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Arman
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
